<div class="employeeDisplay">


  <div class="search-div">
    <button mat-raised-button (click)="onCreate()">
      Ajouter <mat-icon>add</mat-icon>
    </button>
    <mat-form-field class="search-form-field">
      <input matInput [(ngModel)]="searchkey" placeholder="  Recherche" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button- matSuffix mat-icon-button aria-label="Clear" *ngIf="searchkey" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
   
      <mat-form-field class="selectForm">
        <mat-label>Dédoblonée par :</mat-label>
        <select matNativeControl (change)="onSelect($event.target.value)">
          <option value="">Tous</option>
          <option value="lastName">Nom</option>
          <option value="fname">Pénom</option>
          <option value="age">Age</option>
          <option value="salary">Salaire</option>
        </select>
        </mat-form-field>
  </div>
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="$key">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Numéro: </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element?.$key}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>nom: </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element?.lastName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="fname">
          <mat-header-cell *matHeaderCellDef mat-sort-header>prenom: </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element?.fname}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="age">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Age: </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element?.age}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="salary">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Salaire: </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element?.salary}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="onEdit(row)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn" (click)="onDelete(row.$key)"><mat-icon>delete_outline</mat-icon></button>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
          <mat-footer-cell *matFooterCellDef colspan="6"> Chargement des données... </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef colspan="6"> données. </mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
    </div>


  </div>

